*{
    padding:0;
    margin:0;
}

.container{
    width:1160px;
    margin:auto;
}
.header-main{
    background-color: rgb(228, 136, 24);
}
.wrap-header{
    display:flex;
    
}

.logo {
    width:30%;
    height:70px;
    display: flex;
}

.logo img {
    width:124.44px;
    height:70px;
    object-fit:cover;
    align-items:center;
}

.menu{
    width:70%;
    height: 70px;
    /* background-color: green; */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items:center;
}

.menu li {
    margin-left:25px;
    font-family: "Lato", sans-serif;
    font-size:14.4px;
}

.menu li a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
}

.menu li i{
    font-size:12px;
}
